*{
	margin: 0px;
	padding: 0px;
}
body,html{
	font-family: roboto, sans-serif, arial;
	background-color: #f0f3fa;
}
.top-header{
	background: #2196f3;
	padding: 5px 0px;
	border-bottom: 1px solid #31315e;
}
.container{
	width: 1500px;
	margin: 0px auto;
}
.width-100{
	width: 100%;
	float: left;
}
.news-list{
	background: #fff;
	color: red;
	padding: 5px;
	font-size: 20px;
	margin-left: 20px;
}
.head-tital{
	font-size: 18px;
	color: white;
	width: 80%;	
}
.logo{
	margin: 10px 0 0 20px;
	width: fit-content;
	float: left;
}
.header-menu{
	position: relative;
	box-shadow: 0px 2px 5px 0px #000036;
}
.main-menu{
	list-style: none;
	float: right;
	margin-top: 20px;
}
.main-menu a{
	font-weight: 500px;
	color: #3a3a3a;
	font-size: 20px;
	text-decoration: none;
}
.main-menu li{
	float: left;
/*	text-align: center;*/
	padding: 12px 15px;
	margin-top: 7px;
}
.slider-width{
	width: 100%;
	height: auto;
}
.margin-top-50{
	margin-top: 50px;
/*    color: blue;*/
}
.width-33{
	width: 33%;
	float: left;
}
.latest-news{
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	padding: 20px;
	height: 350px;
	margin-bottom: 30px;
}
.heading-sect{
	width: 100%;
	float: left;
	border-bottom: 1 px #cfcfcf;
	padding-bottom: 0px;
	margin: 0px;
	margin-bottom: 15px;
	padding-top: 2px;
	border: 1px solid #cfcfcf;
	padding-top: 15px;
	padding-left: 15px;
	background: #00aed9;
}
.head-tital{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: 600;
/*	color: #2196f3;*/
	padding-bottom: 5px;
}
.latest-news-ul{
	padding: 0px;
	list-style: none;
	line-height: 40px;
}
.event-list{
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	padding: 20px;
	height: 350px;
	margin-bottom: 30px;
}
.Upcoming-event-list{
	padding: 0px;
	list-style: none;
}
.Upcoming-event-list li{
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.event-date{
	background: #03a9f4;
	width: 30px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding: 8px;
	margin-right: 10px;
}
.notice-board{
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	padding: 20px;
	height: 350px;
	margin-bottom: 30px;
}
.notice-board-list{
	padding: 0px;
	list-style: none;
	line-height: 40px;
}
.notice-board-list li{
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.our-principal{
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	padding: 20px;
	height: 350px;
	margin-bottom: 30px;
}
.Useful-info-ul{
	list-style: none;
}
.Useful-info-ul li{
	margin-bottom: 15px;
	border-bottom: 1px solid gray;
	padding-bottom: 15px;
}
.Useful-info-ul a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.gov-sec{
	margin-bottom: 30px;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 30px;
}
.gov-name{
	font-size: 16px;
	color: black;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 20px;

}
.gov-degn{
	color: black;
	font-size: 15px;
	padding-left: 10px;
	margin-top: 6px;
}
.gov-img{
	width: 100%;
}
.width-40{
	width: 40%;
	float: left;
}
.width-60{
	width: 60%;
	float: left;
}
.About-us{
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	padding: 20px;
	height: 350px;
	margin-bottom: 30px;
}
.certificate{
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	padding: 20px;
	height: 350px;
	margin-bottom: 30px;
}
.certi-img{
	width: 80%;
	height: 70%;
	float: left;
	margin: 25px 0 0 40px;
}
.gallery-head{
	font-size: 28px;
	color: #4b4848;
	margin-bottom: 5px;
	background: white;
	padding: 2px 0px;
}
.width-25{
	width: 25%;
	float: left;
}
.gallery-img{
	height: 250px;
	width: auto;
}
.rec-head{
	font-size: 28px;
	color: #4b4848;
	margin-bottom: 5px;
}
.rec-marquee{
	height: 100px;
}
.rec-marquee img{
	height: 80px;
	width: 140px;
}
.footer{
	background: #232f3e;
	padding: 50px 0px;
}
.quick-link{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}
.quick-link-menu{
	list-style: none;
	padding-left: 10px;
}
.quick-link-menu a{
	color: #fff;
	line-height: 2.5;
	font-size: 15px;
	text-decoration: none;
}
.get-in-touch{
	list-style: none;
	padding-left: 10px;
}
.get-in-touch li i{
	color: red;
	font-size: 20px;
}
.get-in-touch li{
	color: #fff;
	line-height: 2.5;
	font-size: 15px;
}
.footer-email{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;

}
.footer-website{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.social-media{
	list-style: none;
	margin-top: 10px;
}
.social-media li{
	float: left;
	padding: 0px 8px;
}
.social-media li a img{
	width: 30px;
}
.footer2{
	background: #232f3e;
	padding: 10px 0px;
	border-top: 1px solid #898989;
}
.footer2-content{
	font-size: 14px;
	color: #fff;
	text-align: center;
}